<div class="main">
  <div class="name">
    <p><strong>Name: </strong>Arijeet Rakshit</p>
  </div>
  <div class="registration">  
    <p><strong>Registration Number: </strong>201800513</p>
  </div>
  <div class="email">
    <p><strong>Email: </strong>arijeet_201800513@smit.smu.edu.in</p>
  </div> 
  <div class="bio">
    <p><strong>Bio: </strong>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus voluptas sapiente possimus ab nulla nemo dolore, vel laudantium perferendis neque? Esse alias quaerat saepe excepturi asperiores unde enim at dolorum.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui itaque hic nihil autem consequatur quas? Atque suscipit, officiis a, maxime, quisquam nisi blanditiis aspernatur doloremque sint corrupti aliquam fugiat eaque.
    </p>
  </div>
</div>
<router-outlet></router-outlet>